:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-section-hero {

  height: 100% !important;
}
.sub-cards {
 
  padding: 10px !important;
}
.mal{
  line-height: 36px !important;
  font-family: "Noto Sans Malayalam", sans-serif !important;
  text-align: start !important;
}
li{
  font-size: 18px !important;
  text-align: left !important;
  padding-bottom: 10px !important;
}
.logwithcont{
  margin-top: -30px !important;
}
.scan-btn-header{
  background: #00000000;
}
.yearly-sub li{
  font-size: 18px !important;
  font-family: "Noto Sans Malayalam", sans-serif !important;
}
.yearly-sub p{
  font-size: 18px !important;
  font-family: "Noto Sans Malayalam", sans-serif !important;
}
.yearly-sub{
  display: flex
  ;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          padding-top: 60px !important;
          padding-bottom: 60px !important;
          gap: 60px;
}

.e-kyc-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
}

.kyc-card {
  display: flex;
flex-direction: column;
justify-content: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.kyc-card:hover {
  transform: translateY(-5px);
}

.kyc-img {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}


.gold-page-sec{
  justify-content: space-between !important;
  gap: 20px !important;
  align-items: top !important;
  height: 100% !important;
}
.gol{
  font-size: 26px !important;
  font-weight: 600;
}
.gold-page-sec-p{
  border: 1px solid #fff;
  padding: 20px !important;
  border-radius: 30px;
}

.camera-wrapper {
  max-height: 500px;
  overflow: hidden;
}

.webcam-box {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mal {
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .webcam-box {
    height: auto;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
